* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #302f3d;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

header h2 {
    color: #b78d63;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.calculadora {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
    background-color: #5f5c99;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.pantalla-container {
    padding: 20px;
}

.pantalla {
    width: 100%;
    font-size: 22px;
    text-align: right;
    padding: 15px;
    border:outset ;
    background-color: #9ea899;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 300px;
    width: 100%;
}

.number {}

.operator {
    background-color: #948cdc;
}

.clear {
    background-color: #aa697a;
}

.equals {
    background-color: #a83d5a;
}


button {
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

button:hover {
    opacity: 0.7;
    scale: 1.02;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

footer h3 {
    color: #b78d63;
}